@use "base/variables";

@media screen and (max-width: 800px) {
    .advantages {
        &__wrapper {
            grid-template: repeat(6, 1fr) / repeat(1, 1fr);
            row-gap: 20px;
        }
    }
}

@media screen and (max-width: 600px) {
    .advantages {
        &__title {
            line-height: 20px;
        }
    }
}